html{
background:#F5F2DF;
height:100%;
}

body{
margin:auto;
overflow:hidden;
}

#box{
position:relative;
margin:auto;
height:400px;
width:600px;
background:#EAE1C2;
}

#box img:hover{
-webkit-filter: brightness(-0.2);
}

.button{
position:relative;
float:left;
outline-style:none;
outline-color:#388AFE;
outline-width:medium;
}

#helpDiv{
text-align:left;
color:black;
font-family:arial;
border-color:white;
border-width:thick;
background:#DAD1AA;
z-index:500;
}

.button img{
position:absolute;
}

.topbox{
background:none;
float:left;
position:absolute;
height:auto;
width:auto;
}

.x{
z-index:800;
position:absolute;
}

#x{
width:25px;
right:-15px;
top:-15px;
}

#y{
width:25px;
right:20px;
bottom:20px;
}

#z{
width:25px;
left:20px;
bottom:20px;
}

p4{
color:black;
font-weight:bold;
}