html{
background:#F5F2DF;
height:100%
}

body{
margin:auto;
}

#box{
position:relative;
margin:auto;
background:#EAE1C2;
}

#topbox1{
background:black;
}



.imgbox{
position:absolute;
bottom:0px;
outline-style:none;
outline-color:#388AFE;
outline-width:medium;
}

.imgbox img{
position: absolute;
}

.blankbox{
background:none;
float:left;
position:relative;
}

p{
position:absolute;
z-index:1;
}



p2{
font-family:arial;
font-weight:bold;
}

p5{
color:black;
font-weight:bold;
}

p3{
color:#807050;
font-weight:bold;
}

p4{
color:black;
font-weight:bold;
}


a {
text-decoration:none;
}