html{
background:#F5F2DF;
height:100%;
}

body{
margin:auto;
overflow:hidden;
}

#box{
position:relative;
margin:auto;
height:auto;
width:auto;
background:#EAE1C2;
}

#current{
position:absolute;
background:black;
z-index:1;
}

.searchbar{
background:#F5F2DF;
outline:none;
border:none;
text-indent:5px;
}

.imgbox{
float:left;
}

.fakeimg{
text-align:center;
font-family:arial;
font-weight:bold;
float:left;
}

.arrow{
position:absolute;
width:auto;
height:auto;
}

.arrow img{
position:relative;
}

#box2{
position:relative;
margin:auto;
height:auto;
float:left;
width:auto;
z-index:0;
}

.button{
position:relative;
float:left;
z-index:2;
background:#F5F2DF;
}


.buttonpadder{
position:relative;
float:left;
}

.coverup{
position:absolute;
z-index:100;
background:#F5F2DF;
}


#searcher{
position:relative;
margin:auto;
float:left;
}

p{
position:absolute;
z-index:1;
color:white;
}

a {
text-decoration:none;
}